
body {
    background: grey;
}

.container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    color: #777;
    background: #777;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;  
    text-align: center;
}

.regular {
    background: #ebebeb;
    font-size: 18px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    float: left;
    height: 300px;
    background: #ebebeb;
    font-size: 18px;
    padding: 15px;
    width: 53%;
    margin-right: 19px;
    margin-bottom: 20px;
}

aside {
    float: right;
    height: 300px;
    background: #ebebeb;
    font-size: 18px;
    padding: 15px;
    width: 41%;
    margin-bottom: 20px;
}

article {
    color: #ebebeb;
    background: #777;
    font-size: 18px;
    padding: 10px;
}

p {
    color: #777;
    background: #ebebeb;
    font-size: 18px;
    padding: 10px;
}

footer {
    clear: both;
}